global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: "zeppelin"
    metrics_path: "/metrics"
    static_configs:
      - targets: ["host.docker.internal:8080"]
        labels:
          instance: "ec2-prod"
